@font-face {
    font-family: "Kizard";
    src:
      local("Kizard"),
      url("kizard.otf") format("opentype")
  }

body {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: #000;
    color: #FFF;
}

h1, h2, h3, h4 {
    font-family: Kizard;
    color: #ead42c;
}

a {
    color: #ead42c;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header_menu {
    border-bottom: thin solid #ead42c;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header_menu__branding,
.header_menu__branding img {
    height: 100%;
    max-width: inherit;
    width: auto;
}

.header_menu__menu {
    height: 100%;
    display: flex;
}

.header_menu__menu ul {
    display: flex;
    align-items: center;
}

.header_menu__menu ul li {
    list-style: none;
    margin-left: 0.5rem;
}

.wrapper {
    max-width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 60rem;
    margin: auto;
}

.wrapper.bans img {
    width: 2rem !important;
    height: 2rem !important;
    object-fit: cover;
}

.matches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.matches--match {
    width: 48%;
    padding: 1rem;
    box-sizing: border-box;
    border: thin solid #FFF;
    margin-bottom: 2rem;
}

.matches--match h3 {
    margin: 0;
}

.match_teams {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
}

.match_teams--team {
    width: 48%;
    padding: 1rem;
    box-sizing: border-box;
}

.match_teams--team h4 {
    margin: 0;
}

.teams {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
}

.teams--team {
    width: 48%;
    padding: 1rem;
    box-sizing: border-box;
}

.roster {
    display: table;
    width: 100%;
    margin-top: 1rem;
}

.roster--item {
    margin-bottom: 1rem;
    display: table;
    width: 100%;
}

.roster--item label {
    display: block;
    border: thin solid #ead42c;
    padding: 1rem;
}

.roster--item h4 {
    margin-top: 0;
}

.roster--item img {
    width: 4rem;
    float: left;
    margin-right: 0.5rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
}

.stats--team {
    width: 48%;
    padding: 1rem;
    box-sizing: border-box;
}

.card_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card_store_button {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}

.card_store_button button {
    margin: auto;
    background-color: #000;
    padding: 0.25rem 0.5rem;
    display: table;
    border: none;
    color: #ead42c;
}

.cards_html {
    background-color: transparent;
}

.card_wrapper img {
    max-height: 100%;
    width: auto;
}

.card_content {
    width: 50rem;
    border: thin solid #ead42c;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem 7rem 2rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0.75rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.card_content h1 {
    width: 100%;
    margin: 0 0 1.25rem;
}

.card_content h2 {
    width: 100%;
    margin-bottom: 0;
}

.card_content h3 {
    width: 100%;
    margin-bottom: 0;
}

.card_content--stats {
    width: 100%;
    margin-top: 1.25rem;
}

.card_team--stats img {
    height: 2rem;
    display: block;
    margin: 0.5rem auto 0.25rem;
}

.card_team--stats img.icon_elims {
    height: 2.55rem;
}

.card_team--stats img.role_icon_image {
    height: 10rem;
}

.card_team--stats--stat {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.card_team {
    width: 50%;
}

.card_team.role_icon_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_team ul {
    padding: 0;
    margin: 0;
}

.card_team li {
    list-style: none;
}

.card_logo {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    height: 3.25rem;
    margin: auto;
}

.hero_bans--hero img {
    max-height: 50vh;
    border: thin solid #ead42c;
}

.player_name_title {
    font-family: sans-serif;
    color: #FFF;
}

.role_icon_compare_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
    margin-bottom: -0.4rem;
}

table {
    width: 100%;
}

thead {
    text-align: left;
    font-size: 1.25rem;
}

td, th {
    padding: 0.35rem;
    border-bottom: thin solid #ead42c;
}

input[type=submit] {
   border: thin solid #ead42c;
   background-color: #ead42c;
   color: #000;
   padding: 1rem 2rem;
   margin: 1rem 0;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #000;
   color: #ead42c;
}

input[type=text],
input[type=password] {
    width: 100%; 
    padding: 0.25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.login {
    max-width: 20rem;
    margin: auto;
}

.bans_overlay_wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bans_overlay_wrap__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 35rem;
    height: 26rem;
    background-color: #000;
}

.bans_overlay_wrap__content--team {
    height: 10rem;
    width: 100%;
    padding: 1rem;
    border-bottom: thin solid #ead42c;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.bans_overlay_wrap__content--team--name {
    max-width: 64%;
}

.bans_overlay_wrap__content--team--hero {
    width: 33%;
    height: 8rem;
    overflow: hidden;
}

.bans_overlay_wrap__content--team--hero img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
    border: thin solid #ead42c;
}

.bans_overlay_wrap__content--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.bans_overlay_wrap__content--footer--logo {
    margin-left: -2rem;
}

.bans_overlay_wrap__content--footer h2 {
    color: #FFF;
}

.pool_wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.pool_wrapper--logo {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 8rem;
}

.pool_wrapper--tagline {
    position: absolute;
    right: -7.5rem;
    bottom: 17rem;
    transform: rotate(90deg);
    width: auto;
    height: 8rem;
}

.pool_wrapper--tagline h2 {
    font-size: 5rem;
    margin: 0;
    color: #FFF;
}

.pool_content {
    width: 85%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 4rem 0 6rem;
    margin: auto;
}

.pool_content--type {
    flex: 1;
    padding: 0.75rem;
    height: 100%;
}

.pool_content--type h2 {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.pool_content--type--item {
    height: 20%;
    margin-bottom: 1.5rem;
    position: relative;
    border: 0.25rem solid #ead42c;
    background-color: #FFF;
}

.pool_content--type--item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.pool_content--type--item--content {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ead42c;
    padding: 0.75rem 0.25rem 0.25rem 0.25rem;
}

.pool_content--type--item--content h3 {
    color: #000;
    margin: 0;
    font-size: 1rem;
}

.pool_content--type--item--content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 2rem;
    height: 100%;
    background-color: #ead42c;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    margin-left: 0.5px;
    margin-bottom: 0.5px;
}

.current_maps .pool_content--type--item {
    border-color: #ead42c;
}

.current_maps .pool_content--type--item.picked {
    border-color: #FFF;
}

.current_maps .pool_content--type--item.picked .pool_content--type--item--content,
.current_maps .pool_content--type--item.picked .pool_content--type--item--content::before {
    background-color: #FFF;
}

.current_maps .pool_content--type--item img {
    opacity: 1;
}

.current_maps .pool_content--type--item.picked img {
    opacity: 0.7;
}

.current_maps .pool_content--type--item.cat_picked img {
    opacity: 0.4;
}

.current_maps .pool_content--type--item.picked .pool_content--type--item--content h3 {
    color: #000;
}

.current_maps .pool_content--type--item.cat_picked .pool_content--type--item--content h3 {
    color: #FFF;
}

.no_list_style {
    list-style: none;
    padding: 0;
}

.no_list_style li {
    margin-bottom: 0.25rem;
}

.current_map_wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.current_map {
    width: 100%;
    height: 100%;
    position: relative;
}

.current_map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.current_map--content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ead42c;
    color: #000;
    height: 7rem;
    width: auto;
    padding: 1rem 2rem;
}

.current_map--content h2 {
    color: #000;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: -1rem;
}

.current_map--content h3 {
    color: #000;
    font-size: 2rem;
    margin: 0;
}

.current_map--content::after {
    content: "";
    position: absolute;
    top: 0;
    right: -4rem;
    width: 4rem;
    height: 100%;
    background-color: #ead42c;
    clip-path: polygon(0% 0, 0 100%, 100% 100%);
}

.current_map_wrapper--tagline {
    position: absolute;
    right: -14.5rem;
    bottom: 22rem;
    transform: rotate(90deg);
    width: auto;
    height: 4rem;
}

.current_map_wrapper--tagline h2 {
    font-size: 5rem;
    margin: 0;
    color: #FFF;
}

.current_map_wrapper--logo {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 8rem;
}

iframe {
    width: 100%;
    height: 20rem;
}

.footer {
    border-top: thin solid #ead42c;
    padding: 3rem 0;
    text-align: center;
    margin-top: 2rem;
}